<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">

	<title>Pullshoes</title>

	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="author" content="">

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/responsive.css">
	<link rel="icon" href="images/fevicon.png" type="image/gif" />

	<link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
		media="screen">
</head>

<!-- body -->

<body class="main-layout">

	<!-- header section start -->
	<div class="header_section">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="logo"><a href="#"><img src="images/logo.png"></a></div>
				</div>
				<div class="col-sm-9">
					<nav class="navbar navbar-expand-lg navbar-light bg-light">
						<button class="navbar-toggler" type="button" data-toggle="collapse"
							data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
							aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>

						<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
							<div class="navbar-nav">
								<a class="nav-item nav-link" href="index.html">Home</a>
								<a class="nav-item nav-link" href="collection.html">Collection</a>
								<a class="nav-item nav-link" href="shoes.html">Shoes</a>
								<a class="nav-item nav-link" href="racing boots.html">Racing Boots</a>
								<a class="nav-item nav-link last" href="#"><img src="images/search_icon.png"></a>
								src="images/shop_icon.png"></a>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!-- header section end -->

	<!-- New Arrivals Section Start -->
	<div class="layout_padding gallery_section">
		<div class="container">
			<div id="shoesCarousel" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="row">
							<div class="col-sm-4">
								<div class="best_shoes">
									<p class="best_text">Best Shoes</p>
									<div class="shoes_icon">
										<img src="images/shoes-img4.png" class="img-fluid">
									</div>
									<div class="star_text">
										<div class="left_part">
											<ul>
												<li><img src="images/star-icon.png"></li>
												<li><img src="images/star-icon.png"></li>
												<li><img src="images/star-icon.png"></li>
												<li><img src="images/star-icon.png"></li>
												<li><img src="images/star-icon.png"></li>
											</ul>
										</div>
										<div class="right_part">
											<div class="shoes_price">$ <span style="color: #ff4e5b;">60</span></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="best_shoes">
									<p class="best_text">Best Shoes</p>
									<div class="shoes_icon">
										<img src="images/shoes-img5.png" class="img-fluid">
									</div>
									<div class="star_text">
										<div class="left_part">
											<ul>
												<li><img src="images/star-icon.png"></li>
												<li><img src="images/star-icon.png"></li>
												<li><img src="images/star-icon.png"></li>
												<li><img src="images/star-icon.png"></li>
												<li><img src="images/star-icon.png"></li>
											</ul>
										</div>
										<div class="right_part">
											<div class="shoes_price">$ <span style="color: #ff4e5b;">400</span></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="best_shoes">
									<p class="best_text">Best Shoes</p>
									<div class="shoes_icon">
										<img src="images/shoes-img6.png" class="img-fluid">
									</div>
									<div class="star_text">
										<div class="left_part">
											<ul>
												<li><img src="images/star-icon.png"></li>
												<li><img src="images/star-icon.png"></li>
												<li><img src="images/star-icon.png"></li>
												<li><img src="images/star-icon.png"></li>
												<li><img src="images/star-icon.png"></li>
											</ul>
										</div>
										<div class="right_part">
											<div class="shoes_price">$ <span style="color: #ff4e5b;">50</span></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Repeat the carousel-item for more slides -->
				</div>

				<!-- Flechas de navegación -->
				<button class="carousel-control-prev" type="button" data-bs-target="#shoesCarousel"
					data-bs-slide="prev">
					<span class="custom-prev-icon">&lt;</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#shoesCarousel"
					data-bs-slide="next">
					<span class="custom-next-icon">&gt;</span>
				</button>

			</div>
		</div>
	</div>
	<!-- New Arrivals Section End -->

	<script>
		document.addEventListener('DOMContentLoaded', function () {
			var myCarousel = document.querySelector('#shoesCarousel');
			var carousel = new bootstrap.Carousel(myCarousel, {
				interval: 2000, // Cambia la imagen cada 2 segundos, ajusta según tus necesidades
				wrap: true // Permite que el carrusel vuelva al inicio después del último elemento
			});

			// Opcional: puedes agregar más funcionalidad si lo necesitas
		});
	</script>

	<!-- Bootstrap CSS -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">

	<!-- Bootstrap JS -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>


	<!-- new collection section start -->
<div class="layout_padding collection_section">
    <div class="container">
        <h1 class="new_text"><strong>New Collection</strong></h1>
        <p class="consectetur_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>
        <div id="collectionCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <!-- Slide 1 -->
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="about-img">
                                <button class="new_bt">New</button>
                                <div class="shoes-img"><img src="images/shoes-img1.png" class="img-fluid"></div>
                                <p class="sport_text">Men Sports</p>
                                <div class="dolar_text">$<strong style="color: #f12a47;">90</strong></div>
                                <div class="star_icon">
                                    <ul>
                                        <li><a href="#"><img src="images/star-icon.png"></a></li>
                                        <li><a href="#"><img src="images/star-icon.png"></a></li>
                                        <li><a href="#"><img src="images/star-icon.png"></a></li>
                                        <li><a href="#"><img src="images/star-icon.png"></a></li>
                                        <li><a href="#"><img src="images/star-icon.png"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about-img2">
                                <div class="shoes-img2"><img src="images/shoes-img2.png" class="img-fluid"></div>
                                <p class="sport_text">Men Sports</p>
                                <div class="dolar_text">$<strong style="color: #f12a47;">90</strong></div>
                                <div class="star_icon">
                                    <ul>
                                        <li><a href="#"><img src="images/star-icon.png"></a></li>
                                        <li><a href="#"><img src="images/star-icon.png"></a></li>
                                        <li><a href="#"><img src="images/star-icon.png"></a></li>
                                        <li><a href="#"><img src="images/star-icon.png"></a></li>
                                        <li><a href="#"><img src="images/star-icon.png"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Slide 2 (mismo diseño que el Slide 1) -->
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="about-img">
                                <button class="new_bt">New</button>
                                <div class="shoes-img"><img src="images/shoes-img1.png" class="img-fluid"></div>
                                <p class="sport_text">Men Sports</p>
                                <div class="dolar_text">$<strong style="color: #f12a47;">90</strong></div>
                                <div class="star_icon">
                                    <ul>
                                        <li><a href="#"><img src="images/star-icon.png"></a></li>
                                        <li><a href="#"><img src="images/star-icon.png"></a></li>
                                        <li><a href="#"><img src="images/star-icon.png"></a></li>
                                        <li><a href="#"><img src="images/star-icon.png"></a></li>
                                        <li><a href="#"><img src="images/star-icon.png"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about-img2">
                                <div class="shoes-img2"><img src="images/shoes-img2.png" class="img-fluid"></div>
                                <p class="sport_text">Men Sports</p>
                                <div class="dolar_text">$<strong style="color: #f12a47;">90</strong></div>
                                <div class="star_icon">
                                    <ul>
                                        <li><a href="#"><img src="images/star-icon.png"></a></li>
                                        <li><a href="#"><img src="images/star-icon.png"></a></li>
                                        <li><a href="#"><img src="images/star-icon.png"></a></li>
                                        <li><a href="#"><img src="images/star-icon.png"></a></li>
                                        <li><a href="#"><img src="images/star-icon.png"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Controles de flechas -->
            <a class="carousel-control-prev" href="#collectionCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#collectionCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>



	<div class="collection_section">
		<div class="container">
			<h1 class="new_text"><strong>Racing Boots</strong></h1>
			<p class="consectetur_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
				dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
		</div>
	</div>
	<div class="collectipn_section_3 layuot_padding">
		<div class="container">
			<div class="racing_shoes">
				<div class="row">
					<div class="col-md-8">
						<div class="shoes-img3"><img src="images/shoes-img3.png"></div>
					</div>
					<div class="col-md-4">
						<div class="sale_text"><strong>Sale <br><span style="color: #0a0506;">JOGING</span>
								<br>SHOES</strong></div>
						<div class="number_text"><strong>$ <span style="color: #0a0506">100</span></strong></div>
						<button class="seemore">See More</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="collection_section layout_padding">
		<div class="container">
			<h1 class="new_text"><strong>New Arrivals Products</strong></h1>
			<p class="consectetur_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
				dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>

				<div class="col-md-6"></div>
					<div class="shop_banner">
						<div class="our_shop">
							<button class="out_shop_bt">Our Shop</button>
						</div>
					</div>
				</div>
		</div>
	</div>
	<!-- new collection section end -->

	<!-- section footer start -->
	<div class="section_footer">
		<div class="container">
			<div class="mail_section">
				<div class="row">
					<div class="col-sm-6 col-lg-2">
						<div><a href="#"><img src="images/footer-logo.png"></a></div>
					</div>
					<div class="col-sm-6 col-lg-2">
						<div class="footer-logo"><img src="images/phone-icon.png"><span class="map_text">(71)
								1234567890</span></div>
					</div>
					<div class="col-sm-6 col-lg-3">
						<div class="footer-logo"><img src="images/email-icon.png"><span
								class="map_text">Demo@gmail.com</span></div>
					</div>
					<div class="col-sm-6 col-lg-3">
						<div class="social_icon">
							<ul>
								<li><a href="#"><img src="images/fb-icon.png"></a></li>
								<li><a href="#"><img src="images/twitter-icon.png"></a></li>
								<li><a href="#"><img src="images/in-icon.png"></a></li>
								<li><a href="#"><img src="images/google-icon.png"></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2"></div>
				</div>
			</div>
			<div class="footer_section_2">
				<div class="row">
					<div class="col-sm-4 col-lg-2">
						<p class="dummy_text"> ipsum dolor sit amet, consectetur ipsum dolor sit amet, consectetur
							ipsum
							dolor sit amet,</p>
					</div>
					<div class="col-sm-4 col-lg-2">
						<h2 class="shop_text">Address </h2>
						<div class="image-icon"><img src="images/map-icon.png"><span class="pet_text">No 40 Baria
								Sreet 15/2 NewYork City, NY, United States.</span></div>
					</div>
					<div class="col-sm-4 col-md-6 col-lg-3">
						<h2 class="shop_text">Our Company </h2>
						<div class="delivery_text">
							<ul>
								<li>Delivery</li>
								<li>Legal Notice</li>
								<li>About us</li>
								<li>Secure payment</li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6 col-lg-3">
						<h2 class="adderess_text">Products</h2>
						<div class="delivery_text">
							<ul>
								<li>Prices drop</li>
								<li>New products</li>
								<li>Best sales</li>
								<li>Sitemap</li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6 col-lg-2">
						<h2 class="adderess_text">Newsletter</h2>
						<div class="form-group">
							<input type="text" class="enter_email" placeholder="Enter Your email" name="Name">
						</div>
						<button class="subscribr_bt">Subscribe</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>

	<!-- section footer end -->
	<div class="copyright">2024 - All Rights Reserved. <a href="#"></a></div>


	<!-- Javascript files-->
	<script src="js/jquery.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/jquery-3.0.0.min.js"></script>
	<script src="js/plugin.js"></script>
	<!-- sidebar -->
	<script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="js/custom.js"></script>
	<!-- javascript -->
	<script src="js/owl.carousel.js"></script>
	<script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
	<script>
		$(document).ready(function () {
			$(".fancybox").fancybox({
				openEffect: "none",
				closeEffect: "none"
			});

			$('#myCarousel').carousel({
				interval: false
			});

			// Scroll slides on swipe for touch enabled devices
			$("#myCarousel").on("touchstart", function (event) {
				var yClick = event.originalEvent.touches[0].pageY;
				$(this).one("touchmove", function (event) {
					var yMove = event.originalEvent.touches[0].pageY;
					if (Math.floor(yClick - yMove) > 1) {
						$(".carousel").carousel('next');
					} else if (Math.floor(yClick - yMove) < -1) {
						$(".carousel").carousel('prev');
					}
				});
				$(".carousel").on("touchend", function () {
					$(this).off("touchmove");
				});
			});
		});
	</script>
</body>

</html>